{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["vue", "@typescript-eslint", "prettier", "tailwindcss", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-essential",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-strongly-recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "ignorePatterns": ["./src/**/*.{js,ts,vue}"],
  "rules": {
    "no-debugger": "error",
    "no-unused-vars": "off",
    "quotes": [
      "warn",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "vue/multi-word-component-names": 0,
    "vue/max-attributes-per-line": [
      "warn",
      {
        "singleline": {
          "max": 5
        },
        "multiline": {
          "max": 5
        }
      }
    ],
    "prettier/prettier": [
      "warn",
      {},
      {
        "usePrettierrc": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "vue/script-setup-uses-vars": "off",
    "tailwindcss/classnames-order": "off",
    "tailwindcss/enforces-negative-arbitrary-values": "warn",
    "tailwindcss/enforces-shorthand": "warn",
    "tailwindcss/migration-from-tailwind-2": "warn",
    "tailwindcss/no-arbitrary-value": "off",
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/no-contradicting-classname": "error"
  }
}
